
.body{
  max-width: 1300px;
}


.header-section{
  margin-left:20px;
  margin-right:20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height:105vh;
  
}

.link{
  color: grey;
}

.student-shedule-heading{
  text-align: center;
  margin:0;
  margin-top: 30px;
  font-size: 19px;
  font-family: Verdana;
  font-weight: normal;
}
.top-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.low-bold{
  font-size: 12px;
  font-weight: 550;
  font-family: sans-serif;
}



.logo{
  margin-left: 17px;
  width: 180px;
  height: 100px; 
}

.address{
  margin: 0; 
  text-align: end;
  margin-right: 20px;
  margin-top:15px;
  
}
p{
  margin-bottom: 0;
  margin-top: 0;

}

.div2{

  height: 85vh;
  border-color: rgb(82, 81, 81);
  border-width: 1px;
  border-style: solid;
  background-color: rgb(243, 241, 241);
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 17px;

}

.div2-content{
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 110px;
}


.div2-content-text{
  display: flex;
  justify-content: space-between;  
  font-size: 12px;
  font-family: arial;
  margin-top: 3px;


}
.student-shedule{
  height: 20vh ;
  background-color: rgb(214, 212, 212);
  border-style: solid;
  border-color: rgb(82, 81, 81);
  border-width: 1px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;

}

.student-shedule-div{
  margin-top: 15px;
  margin-left: 320px;
}




.student-shedule-content{
  font-size: 12px;
  font-family: arial;
  color: rgb(51, 51, 51);
  
}

.student-shedule-content-4{
  font-size: 12px;
  font-family: arial;
  margin-left: 200px;
  color: rgb(51, 51, 51);

}

.charges-credits{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 18vh; 
  margin-top: 5px;
}
.charges{
  border-color: rgb(82, 81, 81);
  border-width: 1px;
  border-style: solid;
  border-left:none ;
  padding-top: 5px;
  padding-left: 6px;
  padding-right: 6px;
  
}

.credits{
  border-color: rgb(82, 81, 81);
  border-width: 1px;
  border-style: solid;
  border-left:none ;
  border-right: none;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  
}
.charges-credits-heading{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.charges-content{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: arial;
  
}

.credits-content{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: arial;

}

.charges-heading{
  font-size: 15px;
  font-family: Calibri;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.credits-heading{
  font-size: 15px;
  font-family: Calibri;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}


.div2-2{
  height: 12vh ;
  background-color: rgb(214, 212, 212);
  border-style: solid;
  border-color: rgb(82, 81, 81);
  border-width: 1px;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;

}

.div-foot{
  margin-top: 13px;
}
.div-foot-text{
  display: flex;
  justify-content: space-between;
  font-size: 11.5px;
  font-family: sans-serif;
  margin-bottom: 2px;
  margin-left: 900px;
  margin-right: 10px;
  
}
